<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resume Ranking </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="logo">
                <!-- <h2 class ="logo">Scaledge</h2> -->
                <img  src="./static/S_logo.png" alt="" width="142" height="67" >
            </div>
                

            <head>
                <meta charset="utf-8">
                <link rel="stylesheet" href="../static/css/sidebar.css">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
              </head>
              <body>
                <input type="checkbox" id="check">
                <label for="check">
                  <i class="fas fa-bars" id="btn"></i>
                  <i class="fas fa-times" id="cancel"></i>
                </label>
                <div class="sidebar">
                  <header>Scaledge</header>
                  <a href="/index" class="active">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Home</span>
                  </a>
                  <a href="/candidate">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Candidates</span>
                  </a>
                  <a href="/jobs">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <span>Jobs</span>
                  </a>
                  <a href="/checker">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Resume Checker</span>
                  </a>
                  <a href="#">
                    <i class="far fa-envelope"></i>
                    <span>Contact</span>
                  </a>
                </div>
            </body>

            <!-- <div class="search">
                <input class="srch" type="search" name="" placeholder="Type text" >
                <a href="#"> <button class="btn">Search</button> </a>
            </div> -->
        </div>
        <!-- The sidebar -->
           
            <!-- Page content -->
        

            <div class="content">
                <h1>Scaledge <br><span>AI Recruitment</span> <br>Platform</h1>
                <!-- <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                     expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                    <br> a quae totam ipsa illum minus laudantium?</p> -->

        
    
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>