<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>Scaledge</header>
      <a href="#" class="active">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Home</span>
      </a>
      <a href="#">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>Candidates</span>
        
      </a>
      <a href="#">
        <i class="fa fa-file" aria-hidden="true"></i>
        <span>Jobs</span>
      </a>
      <a href="#">
		<i class="fa fa-check" aria-hidden="true"></i>
        <span>Resume Checker</span>
      </a>
      <a href="#">
        <i class="far fa-qrcode"></i>
        <span>Dashboard</span>
      </a>
      <a href="#">
        <i class="fas fa-sliders-h"></i>
        <span>Services</span>
      </a>
      <a href="#">
        <i class="far fa-envelope"></i>
        <span>Contact</span>
      </a>
    </div>
</body>
</html>